body {
  background-color: #256E5E;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Change from 'center' to 'flex-start' */
  align-items: center;
}

#container {
  text-align: center;
}

#name {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 75px;
  letter-spacing: 2.2px;
  word-spacing: 2px;
  color: #00372B;
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  text-align: center;
  margin-top: 25vh; /* Add margin-top to move it up by 25% */
  margin-bottom: 20px;
}

#justTextButton {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  color: rgba(0, 0, 0, 0.973);
  font-size: 33px;
  word-spacing: 120px;
  text-align: center;
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  transition: color 0.3s;
}

#justTextButton:hover,
#justTextButton:active,
#justTextButton:focus {
  color: #84e0d5;
  outline: none;
}

#center {
  align-items: center;
  display: flex;
  justify-content: center;
}
